/*******************************

   Author: KT Chu


   File name: mysite1.css
   Supporting files:
              swimTeamIndex.html
   						swimTeamPracLoc.html
              swimTeamMeetSchedIndex.html
              swimTeamMeetInfo.html
              swimTeamForms.html
              swimTeamWebsiteLinks.html


   Purpose:
   To use CSS style sheet to add
   colors and styles to HTML
**************************************
*
/********************************************
*tag:header, main, nav, footer, figure, figcaption:
* use display: block for all elements
*****************************************/


header, main, nav, footer, figure, figcaption { display: block; }
/********************************************
* tag:body
 has background image
****************************************/

body { background-color: #006600;   }

/********************************************
*  tag: header, h1,#wrapper
*   use googlefonts in header h1 and wrapper
*****************************************/
header, h1,#wrapper { margin-top: 0;
  font-family: 'Libre Baskerville';
}

/********************************************
* tag: wrapper
* have background color of light grayish blue

*****************************************/
#wrapper {   background-color: #ffffff;
  width:90%;
  margin:auto;
border-radius: 2%;
}
/********************************************
* tag: nav ul
navigation bar
*****************************************/
nav ul{ background-color: #ffffff;
  list-style-type: none;
font-size: 1.00em;
text-align: left;}
/********************************************
* tag: nav a
navigation color changes as user use the navigation bar

nav a:link {color:#006600;} is very dark lime green.

nav a:visited {color:#AA33AA;} is dark magenta

nav a:focus{ color:#CC66CC; } is moderate magenta

nav a:hover{ color:#CC66CC; } is moderate magenta

nav a:active {color:#000000;} is black

*****************************************/

nav a:link {color:#006600;}
nav a:visited {color:#AA33AA;}
nav a:focus{ color:#CC66CC; }
nav a:hover{ color:#CC66CC; }
nav a:active {color:#000000;}

/********************************************
* tag: nav a
font bold
text align to left
mp underline
*****************************************/

nav a {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    text-decoration: none;
}

/********************************************
* tag: header a  it is the   skip to content   link
color changes as user use the bar

header a:link {color:#006600;} is very dark lime green.

header a:visited {color:#AA33AA;} is dark magenta

header a:focus{ color:#CC66CC; } is moderate magenta

header a:hover{ color:#CC66CC; } is moderate magenta

*****************************************/


header a{font-size:1.0em;}
header a:link {color: #006600;}
header a:visited {color: #AA33AA;}
header a:focus {color: #CC66CC;}
header a:hover{color:#CC66CC;}

header img {
  margin: 0px 50px;
box-shadow: 2px 1px 7px 5px #CCCCCC;
  /*float: left;*/
  width: 70px;
  height: 70px;
  background: #006600;
}

/*.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}*/
/********************************************
* tag: h1
top header: title page;
      text-shadow: 3px 3px 5px #CCCCCC; light gray
****************************************
*/
h1 {  background-color: #ff8000;
font-weight: bold;
    color: #006600;
    padding: 1% 0;
    font-size: 3.00em;

    text-shadow: 3px 3px 5px #CCCCCC;
    text-align: center;
    border-radius: 25%;
}

/*************************************
*h2 second line of header


 ************************************/

h2 {
    color:  #006600;
    font-family:  Georgia, "Times New Roman", Times, serif;
    text-align: center;
    font-size: 2.50em;
    margin: 0 0 0 0;
    font-weight: bold;

}
/********************************************
* tag:h3
* the title of the paragraphs on each page
*****************************************/

h3{
  text-align: center;
  font-size: 2.15em;
  font-weight: bold;
  color:  #006600;
 }
 h4 {
  text-align:center;
 font-weight: bold; }

nav h4 {
  text-align:left;
 font-weight: bold; }

/********************************************
* tag: flexbox_use
* the webpages is configured for size greater ****
*  this is to use the webkit &flexbox to configure website
*  into two or three columns websites
*  and to use with @media & flexbox to configure
*  webpage for tablet (1024)and mobile(768)
*****************************************/

#flexbox_use {
        width: 100%;
        display: -webkit-flex;
        display: flex;
       -webkit-flex-direction:row;
        flex-direction: row;
     }

main,aside{ padding:0 0; }
/********************************************
* use the webkit & flexbox to configure website
*to format webpage to two columns or three columns
*  and to use with @media to configure for
*  this is to use the flexbox to configure
*  website for tablet (1024)and mobile(768)
*

note:  flex and webkit-flex: should add up to 10;
****************************************/
nav {  -webkit-flex:2;
      flex:2;
}

main {
  -webkit-flex:5;
flex:5;
}

dl{ margin: 0 10% 1% 5%;
}
/*************************************
* ul and li are the navigation bar
************************************/
ul{
  list-style-type: none;
  font-weight: bold;
}

nav{


  display:block;

}

nav img{ margin: 10%; }

li{
  font-weight: bold;
}

/********************************************
* tag: p
* the description paragraphs of webpages
****************************************/
p {
  text-indent: 3em;
  }
/********************************************
* tag: aside
*  The challenge ( third column )in the home page
*  main a{color:#006600;  Very dark lime green.
****************************************/
main a{color: #006600;
  text-decoration: none;}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
   width: 100%;
   margin: auto;
        }




/********************************************
* tag: img
*  The images of the pages
box-shadow: 2px 1px 7px 5px #191970;  Very dark blue.
****************************************/

img { width: 80%;
 box-shadow: 2px 1px 7px 5px #191970;
 border-radius: 20%;

}


/******************************************
Table
tag: table
   border:  #00008b  very dark blue
tag: td, th
border:  #e6e600   pure yellow
  word color:  #00008B very dark blue
tag: caption
  word color:  #333333  very dark gray
tag: tfoot
  word color: #333333  very dark gray;
tag: th
  background-color:  #f2e6ff  very pale voilet

tag: tbody tr:nth-child(even)
  even row background-color: #d8ded8   light grayish lime green

tag:  tbody td:nth-child(odd)
  odd column word color:#8b8b00   dark yellow olive tone
****************************************/
table { margin: auto;
    border: 5px solid #00008b;
    width: 90%;
    table-layout: auto;

}
td, th { padding: 0.5em;

         border: 1px solid #e6e600;

         font-family: Arial, sans-serif;

         border-collapse: separate;
    border-spacing: 4px 8px;
    color:#00008B;
}
caption { font-family: Verdana, sans-serif;

          font-size: 1.2em;
          padding-bottom: 0.5em;
          color: #333333;

}
tfoot { font-family: Verdana, sans-serif;
          font-weight: bold;
          font-size: 1em;
          color: #333333;
}

th { background-color: #f2e6ff;
}

tbody tr:nth-child(even){
  background-color: #d8ded8;
}
tbody td:nth-child(odd){
  color:#8b8b00;
}
/********************************************
* tag: footer
*  The footer color is very dark gray
****************************************/

footer {
      color: #006600;
      font-size: 100%;
      font-style: italic;
    text-align: center;
    padding: 2.5%;
}
/****************************
*  this is to use the @media to configure
*  webpages for tablet (1024)and mobile(768)
****************************************/

@media only screen and (max-width: 1024px) {
      #flexbox_use { -webkit-flex-direction: column;
        flex-direction: column;}
            body { margin: 0; padding: 1em; }
            #wrapper { width: auto;
              margin:0;}
        h1 { font-size: 200%; }
      nav li { padding: 0.5em ;
             font-size: 1em;  }
      nav ul {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: center;
        justify-content: center;
      }
      main {padding:1em;}
      img {width: 70%;}


     }

@media only screen and (max-width: 768px) {
       nav {-webkit-order:1;
          order:1;}
       nav ul { -webkit-flex-wrap: wrap;
            flex-wrap: wrap; }
            table{}

}



