/*******************************

   CGS1820
   Class Project #4 Excercise 6
   Chapter 3 Hands-On Practices

   Author: KT Chu
   Date: 2/17/2016

   File name: mysite.css
   Supporting files:	index.html
   						history.html
   						exoIt.html
   						favorites.html
   Purpose:
   To use CSS style sheet to add
   colors and styles to HTML
**************************************
*/

/********************************************
* tag:		html, body, header, h1
*	reset that reduces browser inconsistencies
*****************************************/

header, nav, main,footer, aside{
display:block;
}

body { background-image: url(images/IMG_20160227_142724.jpg);
    /*color: #191970;
    font-family:  Arial, Verdana, sans-serif;
*/}

header {
  font-family: 'Libre Baskerville';
}

nav a:link {color:#006600;}
nav a:visited{color:#003300;}
nav a:focus, #nav a:hover{ color:#cc66cc; }
nav a:active {color:#000000;}


header a{font-size:1.0em;}
header a:link,  header a:visited {color: #006600;}
header a:focus, header a:hover{color:#003300;}
h1 {  background-color: #191970;
    color:  #E6E6FA;
    line-height: 200%;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-shadow: 3px 3px 5px #CCCCCC;
    text-align: center;
    /*
    font-size: 2em;
    */
}

/*************************************
* tag:    h2
* background-color: light blue
* color: dark blue
*   font-family: same as h1
* text is centered
 ************************************/

h2 {/*
  background-color: #AEAED4;

  */
    color:  #191970;
    font-family:  Georgia, "Times New Roman", Times, serif;
   /* font-size: 1.2em;
*/    text-align: center;
    height: 30px;

    margin-top: 5px;
    margin-bottom: 10px;

    /*
    border-radius: 15px;

    padding-bottom: 10px;
    padding-top: 10px;
*/
}
h3{ text-align: center;
    /*font-size: 1.25em
    */
     }
dl{

  margin-bottom: 50px;
    margin-right: 50px;
border-bottom: 2px solid #00003F;

}
/*************************************
* tag:    ul
* set font to bold
************************************/
ul{ border-radius: 15px;
  list-style-type: none;
  font-weight: bold;
}

li{ border-radius: 15px;
  display: inline-block;
  width: 175px;
  font-weight: bold;
}
p {   font-size: .90em;
  text-indent: 3em;
  border-radius: 15px;
  margin-right: 0px;
    margin-left: 10px;
    width: 390px;
    padding: 20px 20px 20px 20px;


  }



.place {background-color: #E6E6FA;
    /*
    border-radius: 5px;
    font-size: 1em;

    box-shadow: 2px 1px 7px 5px #191970;
    */
    text-align: center;
}
.parkhours{ /*
  border-radius: 15px;
*/
      width: 350px;
      background-color: #E6E6FA;
      float: left;
      color: #00003F;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 1em;

}
.parkfees{  /*
  border-radius: 15px;
  */    background-color: #E6E6FA;
      width: 350px;
      float:right;
      color: #00003F;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 1em;
}


.park_intro {
  background-color: #E6E6FA;
        border-radius: 15px;
        font-size: 1.25em;
        color: #3232d6;
}
.site_intro{  background-color: #E6E6FA;
        border-radius: 15px;
        font-size: 1.25em;
        color: #3232d6;
}
.legends{
      width: 625px;
      background-color: #E6E6FA;
      border-radius: 15px;
      font-size: 1.25em;
      color: #00008B;
      /*
      float: right;
*/
}
.favoritePoints{
          width: 625px;
          background-color: #E6EFA;
          border-radius: 15px;
          font-size: 1.25em;
          color: #00008B;

}
.challenge{
  float:right;
}
.nav_history{

}
.tourSummary{width: 625px;
      background-color: #E6E6FA;
      border-radius: 15px;
      font-size: 1.25em;
      color: #00008B;


}
#wrapper {  background-color: #E6E6FA;
      width: 85%;
      min-width: 900px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 15px;
}

#location{  font-family: 'Libre Baskerville';
      background-color: #E6E6FA;
      border-bottom: 10px;
      border-top: 10px;
      border-spacing: 10px;
      border-radius: 15px;
      text-align: center;

}
#floatright {
  margin: 10px;
  float: right;
}
nav a {
    font-weight: bold;
    font-size: 1.2em;
    text-align: left;
    border-bottom: 10px;
    border-top: 10px;
    border-spacing: 10px;

    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;

}

nav a:link {color:#006600;}
nav a:visited{color:#003300;}
nav a:focus, #nav a:hover{ color:#cc66cc; }
nav a:active {color:#000000;}

nav { float:left;
  width: 200px;
  text-align: left;
  font-family: 'Libre Baskerville';
/*
  width: 800px;

    padding-bottom: 20px;
  */
    border-bottom-width: 2px;
    margin-bottom: 20px;

}

aside{
  float: right;
  width:300px;
}

aside h2{
  text-align: center;
  padding-bottom: 2px;
  border-bottom: 1px solid #000000;
  margin: 10px;
  font-size:0.90em;
  color:#cc66cc;
}
img{
 box-shadow: 2px 1px 7px 5px #191970;
}

main {
  margin: 0 210px 0 160px;
  padding: 1px 10px 20px 10px;
}

main p{
  margin: 20px;
}

footer {  background-color: #E6E6AF;
      border-radius: 15px;
      color: #333333;
      font-size: 1.00em;
      font-style: italic;
    text-align: center;


}


